<div class="dice-card" data-value="{{value}}" data-src="{{photoURL}}">
	<div class="dice-img-container">
		<img id = 'diceImg' src= "{{photoURL}}" alt="Dice to be rolled">
	</div>
	<div class="dice-caption">
		{{value}}
	</div>
</div>
